.messages {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
}

.message-conversations {
  padding: 16px 0px;
  flex-grow: 1;
}

.message-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240,240,240);
  padding-left: 10px;
  padding-bottom: 20px;
}

.message-header h2{
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

.icon-message{
  font-size: 20px;
  padding-right: 8px;
}

.message img {
  width: 40px;
  height: auto;
  margin-right: 16px;
  margin-top: 10px;
  border-radius: 6px;
}

.message{
  display: flex;
  align-items: flex-start;
}

.message-contenu{
  padding: 10px 20px;
}

.message-contenu h3{
  font-size: 18px;
  margin: 0;
}

.message .message-contenu p:first-child {
  margin-bottom: 0;
  margin-top: 0;
}

.message .message-contenu{
  flex-grow: 1;
}
